<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="user-scalable=no width=device-width,
  initial-scale=1.0 maximum-scale=1, minimum-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <title>Doris' Interior Designs</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link href="../../css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
  <nav role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="http://www.dl-design.net" class="brand-logo">D &#9753 L</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="../index.html">Home</a></li>
        <li><a href="portfolio.html">Language</a></li>
        <li><a href="culture.html">Culture</a></li>
        <li><a href="summary.html">Summary</a></li>
        <li><a id="scrollthis" href="#">Contacts</a></li>
        <li><a href="../otherfiles/EDS 117 Language and Culture Interview.pdf">Interview</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="../index.html">Home</a></li>
        <li><a href="portfolio.html">Language</a></li>
        <li><a href="#" id="droppable123">Contacts </a>
          <div id="dropdownthis123">
            <ul>
              <li><span><a href="tel:9092170633" class="fa fa-phone"></a></span><a class="black-text" href="tel:9092170633"> (909)-217-0633</a></li>
              <li><span><a href="mailto:dol121@ucsd.edu" class="fa fa-envelope"></a></span><a class="black-text" href="mailto:dol121@ucsd.edu"> dol121@ucsd.edu</a></li>
              <li><span><a href="https://linkedin.com/in/dorisliu888" class="fa fa-linkedin"></a></span><a class="black-text" href="https://linkedin.com/in/dorisliu888"> linkedin/dorisliu</a>
              </li>
              <li><span><a href="https://www.facebook.com/doris.liu.501151" class="fa fa-facebook"></a></span><a class="black-text" href="https://www.facebook.com/doris.liu.501151"> facebook/dorisliu</a></li>
            </ul>
          </div>
        </li>
        <li><a href="culture.html" id="droppable123">Culture</a></li>
        <li><a href="summary.html">Summary</a></li>
        <li><a href="../otherfiles/EDS 117 Language and Culture Interview.pdf">Interview</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <br><br><br><br>

  <div class="row">
    <div class="collection">
      <div class="collection-item">
        <div class="card">
          <div class="card-image">
            <br>
            <h5 class="center">Q: How does your participant’s linguistic and cultural background inform
              their beliefs about the
              connection between language, culture, and education? </h5>
          </div>
          <div class="card-content">
            <b class="center">A: Doris comes from a background of very traditional Taiwanese culture. Her
              grandparents, parents, cousins and most of her family grew up in Taiwan and were exposed to
              its ideologies and cultural values ever since they were young. Doris on the other hand,
              experienced a different side of Taiwanese Culture, one that was integrated, and sometimes
              conflicting, with American societal values. Ever since she was young, Doris was put in a
              very different society than her parents, learned the foreign language rapidly, and was
              constantly exposed to battling ideologies of individualism, self-independence, value of
              education, and meritocracy. Overall, these experiences have lead her to believe in certain
              ideologies that explain the connection between language, culture and education. For example,
              from her Taiwanese Heritage and culture, she adopted a high value of education, and feels
              that
              it is almost a cultural requirement to do well in school. Not doing well in school can
              disconnect
              you from your family and lead to negative impressions on your whole family by strangers.
              To highlight this, she says a "C" is basically failing in her culture. Another example is
              her
              sense of self-independence, which she feels is different from most American students. She
              often
              feels restrained by her parents and unable to truly express who she is. Finally, as a result
              of
              being exposed to hybrid Taiwanese-American culture and immigrant work ideology, she believes
              strongly in the American Dream and in the merit of hard work.
            </b>
          </div>
          <div class="card-action">
            <div class="chip">
              <img src="../images/me/doris2019.png" alt="Contact Person">
              Beliefs About Language, Culture, Education
            </div>
          </div>
        </div>
      </div>

      <div class="collection-item">
        <div class="card">
          <div class="card-image">
            <br>
            <h5 class="center">Q: How does your participant’s linguistic and cultural background shape their
              identity, sense of self, status, etc.?</h5>
          </div>
          <div class="card-content">
            <b class="center">A: Doris identifies strongly as a Taiwanese American, Proud Female, and
              belonging to the professional group of societal urban planners and designers. To show her
              dedication to these titles, she frequently expresses herself through visual artworks and
              design pieces, values her Taiwanese family connections, and holds strong views about female
              enpowerment in modern society. The reason she identifies as Taiwanese American rather than
              strictly Taiwanese has to do with the type of exposure to each culture she has experienced
              throughout her life. In general, due to conflicting American and Taiwanese ideologies, she
              is not able to fully accept either one. There are aspects of both cultures she firmly
              believes to be true and holds dear. This mix of cultural ideologies forms her sense of
              identity, self and status. In a way, she feels like a bridge between the two worlds since
              she can speak both Mandarin and English, and respects both cultures equally.
            </b>
          </div>
          <div class="card-action">
            <div class="chip">
              <img src="../images/me/doris2019.png" alt="Contact Person">
              Identity, Sense of Self, Status
            </div>
          </div>
        </div>
      </div>


      <div class="collection-item">
        <div class="card">
          <div class="card-image">
            <br>
            <h5 class="center">Q: What advice would your participant give future teachers to provide
              equitable opportunities to learn for students from all backgrounds?</h5>
          </div>
          <div class="card-content">
            <b class="center">A: There are multiple complaints Doris has about the current education system
              in America, and a couple of suggestions to fix these. Mostly, she has expressed complaints
              of having both quarter systems AND semester systems since this is very inconvenient to
              students who have siblings and family members in other schools with other systems. Also
              opportunity-wise, there is greater career opportunity for students who start early. She has
              grievances about the huge student-to-teacher ratio where people can’t really learn properly.
              Most of all, she doesn't like how the system doesn't hire teachers based on skill, but
              rather based on how long they have been there, seniority, how familiar they are with the
              school and how many connections they have. This applies to jobs in other industries, clubs,
              and other institutions too. People shouldn’t be rewarded for having connections to powerful
              people or influential people, but rather they should be rewarded for having skill, and
              earning that reward through hard work and dedication. If there is one thing she would want
              to change about the education system, it is to make sure that the people the system hire to
              teach get vetted correctly and make sure they are actually credible to teach. No matter how
              motivated the students are, their success really depends on how well the teacher teaches the
              class material. This would lead to more equitable opportunities for teachers of diverse
              language backgrounds to teach and to provide a more diverse curriculum to accomodate
              students of all cultures.



            </b>
          </div>
          <div class="card-action">
            <div class="chip">
              <img src="../images/me/doris2019.png" alt="Contact Person">
              Improving Education
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="page-footer white">
    <div class="container" style="width=90%;">
      <div class="row">
        <div class="col s12 m3">
          <h5 class="black-text" style="font-weight:200;">Summary</h5>
          <br><img src="../images/logos/myucsd.png"></img>
        </div>
        <div class="col s12 m6">
          <br><br>
          <p class="black-text" style="text-shadow:0px 0px 0px black;color:black;font-size:18px;line-height:2em;font-weight:20;">
            B.A. Urban Studies & Planning '21<br>Design Minor<br>Works @ Planning and Space
            Management<br><br>
          </p>
        </div>
        <div class="col s12 m3">
          <h5 class="black-text" style="font-weight:200;">CONTACTS</h5>
          <ul>
            <li><a href="tel:9092170633" class="fa fa-phone"></a><a class="black-text" href="tel:9092170633">
                (909)-217-0633</a></li>
            <li><a href="mailto:dol121@ucsd.edu" class="fa fa-envelope"></a><a class="black-text" href="mailto:dol121@ucsd.edu"> dol121@ucsd.edu</a></li>
            <li><a href="https://linkedin.com/in/dorisliu888" class="fa fa-linkedin"></a><a class="black-text" href="https://linkedin.com/in/dorisliu888"> linkedin/dorisliu</a>
            </li>
            <li><a href="https://www.facebook.com/doris.liu.501151" class="fa fa-facebook"></a><a class="black-text" href="https://www.facebook.com/doris.liu.501151">
                facebook/dorisliu</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
  <script src="../js/materialize.js"></script>
  <script src="../js/init.js"></script>
  <script>
    $("#droppable123").click(function() {
      if ($("#dropdownthis123").height() == 0) {
        $("#dropdownthis123").animate({
          height: '190px'
        }, 200);
        $("#dropdownthis123").css("visibility", "visible");
      } else if ($("#dropdownthis123").height() == 190) {
        $("#dropdownthis123").animate({
          height: '0px'
        }, 200);
        $("#dropdownthis123").css("visibility", "hidden");
      }
    });
  </script>

</body>

</html>
