<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="user-scalable=no width=device-width,
  initial-scale=1.0 maximum-scale=1, minimum-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <title>Doris Liu</title>
  <link rel="icon" href="../images/me/doris2020icon.png">

  <!-- CSS  -->
  <link href="https://fonts.Googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link href="../../css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
  <nav role="navigation">
    <div class="nav-wrapper container">
      <div class="brand-logo" id="brand-click-icon"
        style="height: 50px; width: 50px; border-radius: 25px; overflow: hidden; padding: 0; margin-top: 7px;">
        <img height=50 width=50 style="display: inline-block;" src="../images/me/doris2020.jpeg" />
      </div>
      <ul class="right hide-on-med-and-down">
        <li><a href="../index.html">Me</a></li>
        <li><a href="portfolio.html">Portfolio</a></li>
        <li><a id="scrollthis" href="#">Contacts</a></li>
        <li><a href="../resumes/Doris_Liu_Resume_06072021.pdf">Resume</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="../index.html">About Me</a></li>
        <li><a href="portfolio.html">Portfolio</a></li>
        <li><a href="#" id="droppable123">Contacts </a>
          <div id="dropdownthis123">
            <ul>
              <li><span><a href="mailto:dol121@ucsd.edu" class="fa fa-envelope"></a></span><a class="black-text"
                  href="mailto:dol121@ucsd.edu"> dol121@ucsd.edu</a></li>
              <li><span><a href="https://linkedin.com/in/dorisliu888" class="fa fa-linkedin"></a></span><a
                  class="black-text" href="https://linkedin.com/in/dorisliu888"> linkedin/dorisliu</a></li>
              <li><span><a href="https://www.facebook.com/doris.liu.501151" class="fa fa-facebook"></a></span><a
                  class="black-text" href="https://www.facebook.com/doris.liu.501151"> facebook/dorisliu</a></li>
            </ul>
          </div>
        </li>
        <li><a href="../resumes/My_Resume.pdf">Resume</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <br><br><br><br>

  <!-- ARCGIS Category -->
  <div class="row">
    <br>
    <h5 class="black-text" style="font-weight:300;margin-left:20px;">ARCGIS</h5><br>

    <!-- Item 1 -->
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" height=250 src="../images/ArcGIS/ArcGIS Project.png">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">ArcGIS Story Map - San Diego<i
              class="material-icons right">more_vert</i></span>
          <a class="waves-effect waves-light btn modal-trigger white black-text" href="https://arcg.is/9CW9C">SEE STORY
            MAP</a>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">San Diego Tourism<i
              class="material-icons right">close</i></span>
          <br><b class="black-text" style="font-size:15px; font-weight:100px;">Date: Jun 2020<br>
            Software: ArcGIS Online - Story Map<br><br> Description: I used a cascade template to create this story map,
            This was a final project for my "Intro to GIS" class in Spring 2020
            The subject of the story map was Tourist Attractions in the City of San Diego with sub-topics of gas
            stations, hotels, public transit, and even social distancing circles.
            The story map ultimately serves as a guide for tourists and visitors alike who want to plan a luxurious and
            safe trip to the Southwest Coast.</b>
        </div>
      </div>
    </div>

    <!-- Item 2 -->
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" height=250 src="../images/ArcGIS/NewOrleansStoryMap.png">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">New Orleans - Sink or Swim<i
              class="material-icons right">more_vert</i></span>
          <a class="waves-effect waves-light btn modal-trigger white black-text" href="https://arcg.is/b5WvX">SEE STORY
            MAP</a>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">New Orleans - Sink or Swim<i
              class="material-icons right">close</i></span>
          <br><b class="black-text" style="font-size:15px; font-weight:100px;">Date: Jul 2020<br>
            Software: ArcGIS Online - Story Map<br><br> Description: This was a final group project with 3 other people
            in my class about the land use, planning, & other focus topics on New Orleans centered around the 2005
            disaster, Hurrican Katrina. The process involved doing research on the general history of the city, with
            each team member assigned a specific part of the history and a chosen focus topic, specifically,
            transportation, architecture, housing, and sustainability in the city of New Orleans. We concluded our
            individual research and came together to compile our findings in a cascade-style storymap in a span of four
            days. We also did a 10 minute presentation on it as well as a group evaluation afterwards to assess our
            performance. This project was a great example that tested both my individual ability and group's ability to
            complete a challenging project in a month's time.</b>
        </div>
      </div>
    </div>
  </div>

  <!-- Revit & AutoCAD Category -->
  <div class="row">
    <br>
    <h5 class="black-text" style="font-weight:300;margin-left:20px;">AUTODESK REVIT & AUTOCAD</h5><br>

    <!-- Item 1 -->
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" height=250 src="../images/backgrounds/vacationcabin.png">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Vacation Cabin<i
              class="material-icons right">more_vert</i></span>
          <a class="waves-effect waves-light btn modal-trigger white black-text" href="#modal7">VIEW ALL</a>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Vacation Cabin<i
              class="material-icons right">close</i></span>
          <br><b class="black-text" style="font-size:15px; font-weight:100px;">Date: Jul - Aug 2015<br>
            Software: AutoDesk Revit <br><br> Description: Full floorplan, siteplan and 3-D rendering of the Cabin.
            Created in Architecture & CAD Class - High School</b>
        </div>
      </div>
      <div id="modal7" class="modal modal-fixed-footer">
        <div class="modal-content">
          <div class="myslider">
            <div class="myslider-item-7 fade"><img src="../images/backgrounds/vacationcabin.png"></div>
            <div class="myslider-item-7 fade"><img
                src="../images/designCADD/Revit/Screen Shot 2018-11-27 at 9.19.52 PM.png"></div>
            <div class="myslider-item-7 fade"><img
                src="../images/designCADD/Revit/Screen Shot 2018-11-27 at 9.20.17 PM.png"></div>
            <div class="myslider-item-7 fade"><img
                src="../images/designCADD/Revit/Screen Shot 2018-11-27 at 9.20.40 PM.png"></div>
            <div class="myslider-item-7 fade"><img
                src="../images/designCADD/Revit/Screen Shot 2018-11-27 at 9.18.59 PM.png"></div>
            <a class="previousbutton" onclick="plusSlides(-1,6)">&#10094;</a>
            <a class="nextbutton" onclick="plusSlides(1,6)">&#10095;</a>
          </div>
          <br>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">close</a>
        </div>
      </div>
    </div>

    <!-- Item 2 -->
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" height=250 src="../images/workshops/Revit Workshop.png">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Revit Workshop<i
              class="material-icons right">more_vert</i></span>
          <a class="waves-effect waves-light btn white black-text"
            href="/../projects/workshops/Revit Workshop.pdf">VIEW</a>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Revit Workshop<i
              class="material-icons right">close</i></span>
          <br><b class="black-text" style="font-size:15px; font-weight:100px;">Date: May 2020<br>
            Software: AutoDesk Revit <br><br> Description: Created powerpoint tutorial for 3-D one-story floor plan and
            taught introductory 3-D Revit skills to UCSD Architecture Club members</b>
        </div>
      </div>
    </div>

    <!-- Item 3 -->
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" height=250 src="../images/workshops/AutoCAD Workshop.png">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">AutoCAD Workshop<i
              class="material-icons right">more_vert</i></span>
          <a class="waves-effect waves-light btn white black-text"
            href="/../projects/workshops/AutoCAD Workshop.pdf">VIEW</a>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">AutoCAD Workshop<i
              class="material-icons right">close</i></span>
          <br><b class="black-text" style="font-size:15px; font-weight:100px;">Date: Nov 2019<br>
            Software: AutoCAD <br><br> Description: Created powerpoint tutorial for 2-D one-story floor plan and taught
            introductory AutoCAD drafting skills to UCSD Architecture Club members.</b>
        </div>
      </div>
    </div>
  </div>

  <!-- UI/UX & General Design Analysis-->
  <div class="row">
    <br>
    <h5 class="black-text" style="font-weight:300;margin-left:20px;">UI/UX & GENERAL DESIGN ANALYSIS</h5><br>

    <!-- Item 1 -->
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" height=260 src="../images/apps/Venmo app redesign.png">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Venmo App Redesign<i
              class="material-icons right">more_vert</i></span>
          <a class="waves-effect waves-light btn white black-text"
            href="../projects/apps/Venmo Re-Design and Market Analysis.pdf">VIEW</a>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Venmo App Redesign<i
              class="material-icons right">close</i></span>
          <br><b class="black-text" style="font-size:15px; font-weight:100px;">Date: Dec 2019<br>
            Description: My group and I chose the Venmo App as our focus. We tested users specifically on iPhone
            platform and watched how they executed each task. Then we analyzed our results to discover where people made
            the most errors or slips and
            redesigned the app according to that. Although this was simply a class project and the people who managed
            Venmo never actually heard of the analysis that we did, I still felt that this experience was amazing and it
            really gave me a good
            view into the world of design and how
            to analyze designs.
          </b>
        </div>
      </div>
    </div>

    <!-- Item 2 -->
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" height=260 src="../images/apps/Shoppy Design.png">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Shoppy - (Figma Prototype)<i
              class="material-icons right">more_vert</i></span>
          <a class="waves-effect waves-light btn white black-text"
            href="../projects/apps/Shoppy Presentation.pdf">VIEW</a>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Shoppy<i class="material-icons right">close</i></span>
          <br><b class="black-text" style="font-size:15px; font-weight:100px;">Date: Jun 2020<br>
            Description: We used Figma as our main app platform to make a hi-fi prototype of a grocery shopping app that
            was directed towards in-person grocery shoppers. The app helps customers find the items they need and tell
            them whether it is in
            stock or not. If the item isn't in stock the app also suggests substitutes for the item requested.
            I worked on a 5-person team, and the prototyping process involved heavy brainstorming, user testing, and
            creating personas, moodboards, style guides and storyboard for the app. For our presentation, I highlighted
            all of our app's unique
            features and explained our prototyping process.
          </b>
        </div>
      </div>
    </div>

    <!-- Item 3 -->
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" height=260 src="../images/apps/Website Redesign.png">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">TritonLink - Website Redesign<i
              class="material-icons right">more_vert</i></span>
          <a class="waves-effect waves-light btn white black-text"
            href="../projects/apps/Webpage Re-design and Analysis.pdf">VIEW</a>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">TritonLink - Website Redesign<i
              class="material-icons right">close</i></span>
          <br><b class="black-text" style="font-size:15px; font-weight:100px;">Date: Nov 2020<br>
            In this project, we chose a webpage to analyze in a designer's perspective. We conducted interviews
            instructing our interviewees to navigate to a specific page and execute a specific task. From those
            interviews, we found out how the
            design of the webpage is unclear and often difficult to navigate to. Therefore, from the results and the
            analysis we did, we made a prototype of what a redesigned webpage would look like if it was improved.
          </b>
        </div>
      </div>
    </div>

    <!-- Item 4 -->
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" height=260 src="../images/generaldesign/Good Vs Bad Designs.png">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Good vs. Bad Designs<i
              class="material-icons right">more_vert</i></span>
          <a class="waves-effect waves-light btn white black-text"
            href="../projects/generaldesign/Good Vs Bad Designs.pdf">VIEW</a>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Good vs. Bad Designs<i
              class="material-icons right">close</i></span>
          <br><b class="black-text" style="font-size:15px; font-weight:100px;">Date: Oct 2019<br>
            Description: In this project, we were told to focus on identifying a good design and a bad design. We used
            design terms to analyze why we felt each object was a good design or a bad design. There was no right answer
            when it came to design
            so as long as the explanation made sense, our logic made sense.
          </b>
        </div>
      </div>
    </div>

    <!-- Item 5 -->
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" height=260 src="../images/generaldesign/Pen Analysis.png">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Pen Design Analysis<i
              class="material-icons right">more_vert</i></span>
          <a class="waves-effect waves-light btn white black-text"
            href="../projects/generaldesign/Pen Design Analysis.pdf">VIEW</a>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Pen Design Analysis<i
              class="material-icons right">close</i></span>
          <br><b class="black-text" style="font-size:15px; font-weight:100px;">Date: Oct 2019<br>
            Description: In this project, we analyzed different types of pens in our lives. We started out with a mind
            map and conducted a few interviews. We focused on the trends and tradeoffs of each pen that we chose to
            focus on after we conducted
            our interviews. Then we drew a design space graph and identified what we felt was an ideal design for a pen.
          </b>
        </div>
      </div>
    </div>
  </div>

  <!-- Designathon Category -->
  <div class="row">
    <br>
    <h5 class="black-text" style="font-weight:300;margin-left:20px;">TACTICAL URBANISM DESIGNATION 2020</h5><br>

    <!-- Item 1 -->
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="../images/designathon2020/UCSD USP Designathon Group Standing.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Urban Renewal - Scholars Dr. North<i
              class="material-icons right">more_vert</i></span>
          <a class="waves-effect waves-light btn white modal-trigger black-text" href="#modal11">VIEW ALL</a>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Urban Renewal - Scholars Drive North<i
              class="material-icons right">close</i></span>
          <br><b class="black-text" style="font-size:15px; font-weight:100px;">Date: Jan 2020<br>
            Description: The overarching topic was "tactical urbanism", which means that the school gave us a specific
            location on campus and asked us to come up with quick and feasible solutions or improvement to that problem
            area. Our problem area
            was the section between Overview Terrace and the new Living & Learning Community called Scholar's Drive
            South. It was bordered on one side by the UC extension buildings. The designathon lasted 2 days 9am to 7pm
            on both of those days, and
            we
            came up with a full-fledged, budget-backed plan to revamp our zone and make it more accessible to
            pedestrians.</b>
        </div>
      </div>
      <div id="modal11" class="modal modal-fixed-footer">
        <div class="modal-content">
          <div class="myslider">
            <div class="myslider-item-11 fade"><img
                src="../images/designathon2020/UCSD USP Designathon Group Standing.jpg"></div>
            <div class="myslider-item-11 fade"><img src="../images/designathon2020/UCSD USP Designathon 2020.jpg"></div>
            <div class="myslider-item-11 fade"><img
                src="../images/designathon2020/UCSD USP Designathon 2020 Group Pic.jpg"></div>
            <a class="previousbutton" onclick="plusSlides(-1,10)">&#10094;</a>
            <a class="nextbutton" onclick="plusSlides(1,10)">&#10095;</a>
          </div>
          <br>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">close</a>
        </div>
      </div>
    </div>
  </div>

  <!-- General Plan Category -->
  <div class="row">
    <br>
    <h5 class="black-text" style="font-weight:300;margin-left:20px;">SAN DIEGO GENERAL PLAN</h5><br>

    <!-- Item 1 -->
    <div class="col s12 m6 l7">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="../images/generalplan/City of SD General Plan.png">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">City of San Diego - General Plan<i
              class="material-icons right">more_vert</i></span>
          <a class="waves-effect waves-light btn white black-text"
            href="../projects/generalplan/Preliminary Analysis of General Plan.pdf">PRE ANALYSIS</a>
          <a class="waves-effect waves-light btn white black-text"
            href="../projects/generalplan/SD SWOT Analysis.pdf">SWOT</a>
          <a class="waves-effect waves-light btn white black-text"
            href="../projects/generalplan/SD Land Use Element.pdf">LAND USE</a>
          <a class="waves-effect waves-light btn white black-text"
            href="../projects/generalplan/SD Housing Element Analysis.pdf">HOUSING</a>
          <a class="waves-effect waves-light btn white black-text"
            href="../projects/generalplan/City of SD General Plan.pdf">GENERAL PLAN</a>
          <a class="waves-effect waves-light btn white black-text"
            href="../projects/generalplan/City of SD General Plan (Critique and Evaluation).pdf">CRITIQUE & EVAL</a>

        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">City of San Diego - General Plan<i
              class="material-icons right">close</i></span>
          <br><b class="black-text" style="font-size:15px; font-weight:100px;">Date: Jul 2019<br>
            We presented an overview of the General Plan and what we observed when we analyzed it. We spent a one week
            figuring out which General Plan we wanted to focus on and the last four weeks looking through and analyzing
            what we see within the
            General Plan. Throughout this process, my group and I learned a lot about the recent and current conditions
            of the City of San Diego. First, we performed a preliminary analysis of the General Plan. Second we
            performed a SWOT analysis of
            the City of San Diego as a whole. Third, we learned the strengths and weaknesses that the City of San Diego
            have regarding housing in relations with the residents and the living situations of these residents. Fourth,
            we did an in-depth
            analysis on the Land Use Element of the City of San Diego General Plan identifying and displaying the
            existing and planned land uses. And finally, we noted what the land use element has planned to do for the
            existing and undeveloped
            spaces in the City of San Diego.
          </b>
        </div>
      </div>
    </div>
  </div>

  <!-- Crime Analysis Category -->
  <div class="row">
    <br>
    <h5 class="black-text" style="font-weight:300;margin-left:20px;">CRIME ANALYSIS</h5><br>

    <!-- Item 1 -->
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="../images/crimeanalysis/Domestic Violence - Children.png">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Domestic Crime Analysis<i
              class="material-icons right">more_vert</i></span>
          <a class="waves-effect waves-light btn white black-text"
            href="../projects/crimeanalysis/Domestic Violence - Children.pdf">VIEW</a>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Domestic Crime Analysis<i
              class="material-icons right">close</i></span>
          <br><b class="black-text" style="font-size:15px; font-weight:100px;">Date: Jun 2020<br>
            This is from my crime analysis class. I was told to choose a city to do crime analysis on and I chose the
            city of Chicago, Illinois. I obtained data from its open data site specifically detailing crime reports from
            2001 to present. (most
            recent May 2020). I pulled resources from several sources in Google and used tables, charts, and ArcGIS
            10.7.1 to analyze my data.
            My timeframe focus was Jan 2019 to May 2019 & Jan 2020 to May 2020 and my topic focus was "Domestic Violence
            Crimes Involving Children". Domestic Violence includes anyone who is a family member and is physically
            harmed by another family
            member (unlike California which only covers intimate partners).
          </b>
        </div>
      </div>
    </div>
  </div>

  <!-- Minecraft Category -->
  <div class="row">
    <br>
    <h5 class="black-text" style="font-weight:300;margin-left:20px;">MINECRAFT</h5><br>

    <!-- Item 1 -->
    <div class="col s12 m6 l6">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="../images/minecraft/Minecraft 12_7_2018 10_21_07 PM.png">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Wedding Mansion<i
              class="material-icons right">more_vert</i></span>
          <a class="waves-effect waves-light btn modal-trigger white black-text" href="#modal1">VIEW ALL</a>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Wedding Mansion<i
              class="material-icons right">close</i></span>
          <br><b class="black-text" style="font-size:15px; font-weight:100px;">Date: Mar 2018 <br>
            Software: Minecraft Creative Mode <br><br> Description: Fusion between a mansion and a wedding chapel</b>
        </div>
      </div>
      <div id="modal1" class="modal modal-fixed-footer">
        <div class="modal-content">
          <div class="myslider">
            <div class="myslider-item-1 fade"><img src="../images/minecraft/Minecraft 12_7_2018 10_21_07 PM.png"></div>
            <div class="myslider-item-1 fade"><img src="../images/minecraft/Minecraft 12_7_2018 10_14_40 PM.png"></div>
            <div class="myslider-item-1 fade"><img src="../images/minecraft/Minecraft 12_7_2018 10_32_51 PM.png"></div>
            <div class="myslider-item-1 fade"><img src="../images/minecraft/Minecraft 12_7_2018 10_31_14 PM.png"></div>
            <div class="myslider-item-1 fade"><img src="../images/minecraft/Minecraft 12_7_2018 10_15_09 PM.png"></div>
            <div class="myslider-item-1 fade"><img src="../images/minecraft/Minecraft 12_7_2018 10_15_59 PM.png"></div>
            <div class="myslider-item-1 fade"><img src="../images/minecraft/Minecraft 12_7_2018 10_19_20 PM.png"></div>
            <div class="myslider-item-1 fade"><img src="../images/minecraft/Minecraft 12_7_2018 10_20_44 PM.png"></div>
            <div class="myslider-item-1 fade"><img src="../images/minecraft/Minecraft 12_7_2018 10_23_17 PM.png"></div>
            <div class="myslider-item-1 fade"><img src="../images/minecraft/Minecraft 12_7_2018 10_22_25 PM.png"></div>
            <div class="myslider-item-1 fade"><img src="../images/minecraft/Minecraft 12_7_2018 10_24_45 PM.png"></div>
            <div class="myslider-item-1 fade"><img src="../images/minecraft/Minecraft 12_7_2018 10_33_58 PM.png"></div>
            <a class="previousbutton" onclick="plusSlides(-1,0)">&#10094;</a>
            <a class="nextbutton" onclick="plusSlides(1,0)">&#10095;</a>
          </div>
          <br>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">close</a>
        </div>
      </div>
    </div>

    <!-- Item 2 -->
    <div class="col s12 m6 l6">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="../images/minecraft/Minecraft 12_7_2018 10_57_19 PM.png">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Modern Hotel<i
              class="material-icons right">more_vert</i></span>
          <a class="waves-effect waves-light btn modal-trigger white black-text" href="#modal2">VIEW ALL</a>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Modern Hotel<i class="material-icons right">close</i></span>
          <br><b class="black-text" style="font-size:15px; font-weight:100px;">Date: May 2018 <br>
            Software: Minecraft Creative Mode <br><br> Description: Modern open tiered hotel concept</b>
        </div>
      </div>
      <div id="modal2" class="modal modal-fixed-footer">
        <div class="modal-content">
          <div class="myslider">
            <div class="myslider-item-2 fade"><img src="../images/minecraft/Minecraft 12_7_2018 10_57_19 PM.png"></div>
            <div class="myslider-item-2 fade"><img src="../images/minecraft/Minecraft 12_7_2018 10_53_08 PM.png"></div>
            <div class="myslider-item-2 fade"><img src="../images/minecraft/Minecraft 12_7_2018 10_54_08 PM.png"></div>
            <div class="myslider-item-2 fade"><img src="../images/minecraft/Minecraft 12_7_2018 10_54_43 PM.png"></div>
            <div class="myslider-item-2 fade"><img src="../images/minecraft/Minecraft 12_7_2018 10_56_00 PM.png"></div>
            <div class="myslider-item-2 fade"><img src="../images/minecraft/Minecraft 12_7_2018 10_55_29 PM.png"></div>
            <div class="myslider-item-2 fade"><img src="../images/minecraft/Minecraft 12_7_2018 10_58_29 PM.png"></div>
            <div class="myslider-item-2 fade"><img src="../images/minecraft/Minecraft 12_7_2018 10_58_58 PM.png"></div>
            <a class="previousbutton" onclick="plusSlides(-1,1)">&#10094;</a>
            <a class="nextbutton" onclick="plusSlides(1,1)">&#10095;</a>
          </div>
          <br>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">close</a>
        </div>
      </div>
    </div>

    <!-- Item 3 -->
    <div class="col s12 m6 l6">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="../images/minecraft/Minecraft 12_7_2018 11_16_28 PM.png">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Future Home<i
              class="material-icons right">more_vert</i></span>
          <a class="waves-effect waves-light btn modal-trigger white black-text" href="#modal3">VIEW ALL</a>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Future Home<i class="material-icons right">close</i></span>
          <br><b class="black-text" style="font-size:15px; font-weight:100px;">Date: Sept 2018<br>
            Software: Minecraft Creative Mode <br><br> Description: Integration of nature and man-made structure, a home
            built into the mountains</b>
        </div>
      </div>
      <div id="modal3" class="modal modal-fixed-footer">
        <div class="modal-content">
          <div class="myslider">
            <div class="myslider-item-3 fade"><img src="../images/minecraft/Minecraft 12_7_2018 11_16_28 PM.png"></div>
            <div class="myslider-item-3 fade"><img src="../images/minecraft/Minecraft 12_7_2018 11_16_57 PM.png"></div>
            <div class="myslider-item-3 fade"><img src="../images/minecraft/Minecraft 12_7_2018 11_17_36 PM.png"></div>
            <div class="myslider-item-3 fade"><img src="../images/minecraft/Minecraft 12_7_2018 11_18_01 PM.png"></div>
            <div class="myslider-item-3 fade"><img src="../images/minecraft/Minecraft 12_7_2018 11_15_04 PM.png"></div>
            <div class="myslider-item-3 fade"><img src="../images/minecraft/Minecraft 12_7_2018 11_14_33 PM.png"></div>
            <div class="myslider-item-3 fade"><img src="../images/minecraft/Minecraft 12_7_2018 11_18_38 PM.png"></div>
            <div class="myslider-item-3 fade"><img src="../images/minecraft/Minecraft 12_7_2018 11_19_54 PM.png"></div>
            <div class="myslider-item-3 fade"><img src="../images/minecraft/spiral.png"></div>
            <div class="myslider-item-3 fade"><img src="../images/minecraft/Minecraft 12_7_2018 11_15_57 PM.png"></div>
            <div class="myslider-item-3 fade"><img src="../images/minecraft/Minecraft 12_7_2018 11_15_15 PM.png"></div>
            <a class="previousbutton" onclick="plusSlides(-1,2)">&#10094;</a>
            <a class="nextbutton" onclick="plusSlides(1,2)">&#10095;</a>
          </div>
          <br>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">close</a>
        </div>
      </div>
    </div>

    <!-- Item 4 -->
    <div class="col s12 m6 l6">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="../images/minecraft/Minecraft 12_7_2018 11_08_00 PM.png">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Gilman Drive - UC San Diego<i
              class="material-icons right">more_vert</i></span>
          <a class="waves-effect waves-light btn modal-trigger white black-text" href="#modal4">VIEW ALL</a>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Gilman Dr. - UC San Diego<i
              class="material-icons right">close</i></span>
          <br><b class="black-text" style="font-size:15px; font-weight:100px;">Date: Sept 2018<br>
            Software: Minecraft Creative Mode <br><br> Description: Model of Gilman Dr. at University of California, San
            Diego
            campus</b>
        </div>
      </div>
      <div id="modal4" class="modal modal-fixed-footer">
        <div class="modal-content">
          <div class="myslider">
            <div class="myslider-item-4 fade"><img src="../images/minecraft/Minecraft 12_7_2018 11_08_00 PM.png"></div>
            <div class="myslider-item-4 fade"><img src="../images/minecraft/Minecraft 12_7_2018 11_02_08 PM.png"></div>
            <div class="myslider-item-4 fade"><img src="../images/minecraft/Minecraft 12_7_2018 11_03_22 PM.png"></div>
            <div class="myslider-item-4 fade"><img src="../images/minecraft/Minecraft 12_7_2018 11_03_52 PM.png"></div>
            <div class="myslider-item-4 fade"><img src="../images/minecraft/Minecraft 12_7_2018 11_04_15 PM.png"></div>
            <div class="myslider-item-4 fade"><img src="../images/minecraft/Minecraft 12_7_2018 11_05_03 PM.png"></div>
            <div class="myslider-item-4 fade"><img src="../images/minecraft/Minecraft 12_7_2018 11_08_11 PM.png"></div>
            <div class="myslider-item-4 fade"><img src="../images/minecraft/ucsdstreet.png"></div>
            <a class="previousbutton" onclick="plusSlides(-1,3)">&#10094;</a>
            <a class="nextbutton" onclick="plusSlides(1,3)">&#10095;</a>
          </div>
          <br>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">close</a>
        </div>
      </div>
    </div>
  </div>


  <!-- FloorPlanner Category -->
  <div class="row">
    <br>
    <h5 class="black-text" style="font-weight:300;margin-left:20px;">FLOORPLANNER.COM</h5><br>

    <!-- Item 1 -->
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" height=250
            src="../images/floorplanner/simplechurch/Screen Shot 2018-11-27 at 8.50.39 PM.png">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Simple Church<i
              class="material-icons right">more_vert</i></span>
          <a class="waves-effect waves-light btn modal-trigger white black-text" href="#modal9">VIEW ALL</a>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Simple Church<i class="material-icons right">close</i></span>
          <br><b class="black-text" style="font-size:15px; font-weight:100px;">Date: Apr 2013<br>
            Software: FloorPlanner.com<br><br> Description: Minimal Church concept</b>
        </div>
      </div>
      <div id="modal9" class="modal modal-fixed-footer">
        <div class="modal-content">
          <div class="myslider">
            <div class="myslider-item-9 fade"><img
                src="../images/floorplanner/simplechurch/Screen Shot 2018-11-27 at 8.50.39 PM.png"></div>
            <div class="myslider-item-9 fade"><img
                src="../images/floorplanner/simplechurch/Screen Shot 2018-11-27 at 8.47.27 PM.png"></div>
            <div class="myslider-item-9 fade"><img
                src="../images/floorplanner/simplechurch/Screen Shot 2018-11-27 at 8.48.19 PM.png"></div>
            <div class="myslider-item-9 fade"><img
                src="../images/floorplanner/simplechurch/Screen Shot 2018-11-27 at 8.36.46 PM.png"></div>
            <a class="previousbutton" onclick="plusSlides(-1,8)">&#10094;</a>
            <a class="nextbutton" onclick="plusSlides(1,8)">&#10095;</a>
          </div>
          <br>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">close</a>
        </div>
      </div>
    </div>

    <!-- Item 2 -->
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" height=250
            src="../images/floorplanner/therichcandream/Screen Shot 2018-11-27 at 7.24.04 PM.png">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Modern Mansion<i
              class="material-icons right">more_vert</i></span>
          <a class="waves-effect waves-light btn modal-trigger white black-text" href="#modal8">VIEW ALL</a>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Modern Mansion<i
              class="material-icons right">close</i></span>
          <br><b class="black-text" style="font-size:15px; font-weight:100px;">Date: Mar 2013<br>
            Software: FloorPlanner.com<br><br> Description: Exploring furniture options in FloorPlanner website</b>
        </div>
      </div>
      <div id="modal8" class="modal modal-fixed-footer">
        <div class="modal-content">
          <div class="myslider">
            <div class="myslider-item-8 fade"><img
                src="../images/floorplanner/therichcandream/Screen Shot 2018-11-27 at 7.24.04 PM.png"></div>
            <div class="myslider-item-8 fade"><img
                src="../images/floorplanner/therichcandream/Screen Shot 2018-11-27 at 7.43.05 PM.png"></div>
            <div class="myslider-item-8 fade"><img
                src="../images/floorplanner/therichcandream/Screen Shot 2018-11-27 at 7.48.59 PM.png"></div>
            <div class="myslider-item-8 fade"><img
                src="../images/floorplanner/therichcandream/Screen Shot 2018-11-27 at 7.53.03 PM.png"></div>
            <div class="myslider-item-8 fade"><img
                src="../images/floorplanner/therichcandream/Screen Shot 2018-11-27 at 7.54.24 PM.png"></div>
            <div class="myslider-item-8 fade"><img
                src="../images/floorplanner/therichcandream/Screen Shot 2018-11-27 at 7.55.42 PM.png"></div>
            <div class="myslider-item-8 fade"><img
                src="../images/floorplanner/therichcandream/Screen Shot 2018-11-27 at 7.58.57 PM.png"></div>
            <div class="myslider-item-8 fade"><img
                src="../images/floorplanner/therichcandream/Screen Shot 2018-11-27 at 8.02.23 PM.png"></div>
            <div class="myslider-item-8 fade"><img
                src="../images/floorplanner/therichcandream/Screen Shot 2018-11-27 at 8.03.55 PM.png"></div>
            <div class="myslider-item-8 fade"><img
                src="../images/floorplanner/therichcandream/Screen Shot 2018-11-27 at 8.13.15 PM.png"></div>
            <div class="myslider-item-8 fade"><img
                src="../images/floorplanner/therichcandream/Screen Shot 2018-11-27 at 8.32.49 PM.png"></div>
            <a class="previousbutton" onclick="plusSlides(-1,7)">&#10094;</a>
            <a class="nextbutton" onclick="plusSlides(1,7)">&#10095;</a>
          </div>
          <br>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">close</a>
        </div>
      </div>
    </div>

    <!-- Item 3 -->
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" height=250
            src="../images/floorplanner/starterhome/Screen Shot 2018-11-27 at 8.59.12 PM.png">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Starter Home<i
              class="material-icons right">more_vert</i></span>
          <a class="waves-effect waves-light btn modal-trigger white black-text" href="#modal10">VIEW ALL</a>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Starter Home<i class="material-icons right">close</i></span>
          <br><b class="black-text" style="font-size:15px; font-weight:100px;">Date: Apr 2013<br>
            Software: FloorPlanner.com<br><br> Description: 2-Room minimal home floorplan</b>
        </div>
      </div>
      <div id="modal10" class="modal modal-fixed-footer">
        <div class="modal-content">
          <div class="myslider">
            <div class="myslider-item-10 fade"><img
                src="../images/floorplanner/starterhome/Screen Shot 2018-11-27 at 8.59.12 PM.png"></div>
            <div class="myslider-item-10 fade"><img
                src="../images/floorplanner/starterhome/Screen Shot 2018-11-27 at 8.53.02 PM.png"></div>
            <div class="myslider-item-10 fade"><img
                src="../images/floorplanner/starterhome/Screen Shot 2018-11-27 at 9.02.13 PM.png"></div>
            <div class="myslider-item-10 fade"><img
                src="../images/floorplanner/starterhome/Screen Shot 2018-11-27 at 9.04.25 PM.png"></div>
            <a class="previousbutton" onclick="plusSlides(-1,9)">&#10094;</a>
            <a class="nextbutton" onclick="plusSlides(1,9)">&#10095;</a>
          </div>
          <br>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">close</a>
        </div>
      </div>
    </div>
  </div>

  <!-- HOME BY ME -->
  <div class="row">
    <br>
    <h5 class="black-text" style="font-weight:300;margin-left:20px;">HOMEBYME.COM</h5><br>

    <!-- Item 1 -->
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" height=250 src="../images/homebyme/tinyhome/Screen Shot 2018-11-27 at 10.28.02 PM.png">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Tiny Home 1<i
              class="material-icons right">more_vert</i></span>
          <a class="waves-effect waves-light btn modal-trigger white black-text" href="#modal5">VIEW ALL</a>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Tiny Home 1<i class="material-icons right">close</i></span>
          <br><b class="black-text" style="font-size:15px; font-weight:100px;">Date: Aug 2018<br>
            Software: HomeByMe.com <br><br> Description: Challenged myself to a minimalist design, scaled down a regular
            home </b>
        </div>
      </div>
      <div id="modal5" class="modal modal-fixed-footer">
        <div class="modal-content">
          <div class="myslider">
            <div class="myslider-item-5 fade"><img
                src="../images/homebyme/tinyhome/Screen Shot 2018-11-27 at 10.28.02 PM.png"></div>
            <div class="myslider-item-5 fade"><img
                src="../images/homebyme/tinyhome/Screen Shot 2018-11-27 at 10.30.23 PM.png"></div>
            <div class="myslider-item-5 fade"><img
                src="../images/homebyme/tinyhome/Screen Shot 2018-11-27 at 10.31.42 PM.png"></div>
            <div class="myslider-item-5 fade"><img
                src="../images/homebyme/tinyhome/Screen Shot 2018-11-27 at 10.33.03 PM.png"></div>
            <div class="myslider-item-5 fade"><img
                src="../images/homebyme/tinyhome/Screen Shot 2018-11-27 at 10.33.51 PM.png"></div>
            <div class="myslider-item-5 fade"><img
                src="../images/homebyme/tinyhome/Screen Shot 2018-11-27 at 10.35.06 PM.png"></div>
            <div class="myslider-item-5 fade"><img
                src="../images/homebyme/tinyhome/Screen Shot 2018-11-27 at 10.36.36 PM.png"></div>
            <div class="myslider-item-5 fade"><img
                src="../images/homebyme/tinyhome/Screen Shot 2018-11-27 at 10.28.02 PM.png"></div>
            <div class="myslider-item-5 fade"><img
                src="../images/homebyme/tinyhome/Screen Shot 2018-11-27 at 10.40.04 PM.png"></div>
            <div class="myslider-item-5 fade"><img
                src="../images/homebyme/tinyhome/Screen Shot 2018-11-27 at 10.40.30 PM.png"></div>
            <a class="previousbutton" onclick="plusSlides(-1,4)">&#10094;</a>
            <a class="nextbutton" onclick="plusSlides(1,4)">&#10095;</a>
          </div>
          <br>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">close</a>
        </div>
      </div>
    </div>

    <!-- Item 2 -->
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" height=250 src="../images/homebyme/tinyhome2/Screen Shot 2018-11-27 at 9.45.52 PM.png">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Tiny Home 2<i
              class="material-icons right">more_vert</i></span>
          <a class="waves-effect waves-light btn modal-trigger white black-text" href="#modal6">VIEW ALL</a>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Tiny Home 2<i class="material-icons right">close</i></span>
          <br><b class="black-text" style="font-size:15px; font-weight:100px;">Date: Nov 2017<br>
            Software: HomeByMe.com <br><br> Description: Classic Tiny Home Black & White</b>
        </div>
      </div>

      <div id="modal6" class="modal modal-fixed-footer">
        <div class="modal-content">
          <div class="myslider">
            <div class="myslider-item-6 fade"><img
                src="../images/homebyme/tinyhome2/Screen Shot 2018-11-27 at 9.45.52 PM.png"></div>
            <div class="myslider-item-6 fade"><img
                src="../images/homebyme/tinyhome2/Screen Shot 2018-11-27 at 9.51.46 PM.png"></div>
            <div class="myslider-item-6 fade"><img
                src="../images/homebyme/tinyhome2/Screen Shot 2018-11-27 at 9.59.32 PM.png"></div>
            <div class="myslider-item-6 fade"><img
                src="../images/homebyme/tinyhome2/Screen Shot 2018-11-27 at 9.53.36 PM.png"></div>
            <div class="myslider-item-6 fade"><img
                src="../images/homebyme/tinyhome2/Screen Shot 2018-11-27 at 10.00.14 PM.png"></div>
            <div class="myslider-item-6 fade"><img
                src="../images/homebyme/tinyhome2/Screen Shot 2018-11-27 at 10.03.23 PM.png"></div>
            <div class="myslider-item-6 fade"><img
                src="../images/homebyme/tinyhome2/Screen Shot 2018-11-27 at 10.04.03 PM.png"></div>
            <div class="myslider-item-6 fade"><img
                src="../images/homebyme/tinyhome2/Screen Shot 2018-11-27 at 10.13.30 PM.png"></div>
            <div class="myslider-item-6 fade"><img
                src="../images/homebyme/tinyhome2/Screen Shot 2018-11-27 at 10.15.46 PM.png"></div>
            <a class="previousbutton" onclick="plusSlides(-1,5)">&#10094;</a>
            <a class="nextbutton" onclick="plusSlides(1,5)">&#10095;</a>
          </div>
          <br>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">close</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer class="page-footer white">
    <div class="container" style="width: 90%;">
      <div class="row">
        <div class="col s12 m3">
          <h5 class="black-text" style="font-weight:200;">Summary</h5>
          <br><img src="../images/logos/myucsd.png"></img>
        </div>
        <div class="col s12 m6">
          <br><br>
          <p class="black-text"
            style="text-shadow:0px 0px 0px black;color:black;font-size:18px;line-height:2em;font-weight:20;">
            B.A. Urban Studies & Planning '21<br>
            Design Minor<br>
          </p>
        </div>
        <div class="col s12 m3">
          <h5 class="black-text" style="font-weight:200;">CONTACTS</h5>
          <ul>
            <li><a href="mailto:dol121@ucsd.edu" class="fa fa-envelope"></a><a class="black-text"
                href="mailto:dol121@ucsd.edu"> dol121@ucsd.edu</a></li>
            <li><a href="https://linkedin.com/in/dorisliu888" class="fa fa-linkedin"></a><a class="black-text"
                href="https://linkedin.com/in/dorisliu888"> linkedin/dorisliu</a></li>
            <li><a href="https://www.facebook.com/doris.liu.501151" class="fa fa-facebook"></a><a class="black-text"
                href="https://www.facebook.com/doris.liu.501151"> facebook/dorisliu</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- Slide handler script -->
  <script>
    // Get number of modals
    var numModals = document.querySelectorAll(".modal-content").length;

    // Store slide indicies
    var slideIndex = new Array(numModals).fill(1);
    var slideIds = new Array(numModals);

    // Fill slides with class names
    for (let j = 0; j < numModals; j++) {
      slideIds[j] = `myslider-item-${j + 1}`;
    }

    // Show all slides
    for (let i = 0; i < numModals; i++) {
      showSlides(1, i);
    }

    // Go to next slide
    function plusSlides(n, no) {
      showSlides(slideIndex[no] += n, no);
    }

    // Reveal slides
    function showSlides(n, no) {
      var i;
      var x = document.getElementsByClassName(slideIds[no]);
      if (n > x.length) {
        slideIndex[no] = 1
      }
      if (n < 1) {
        slideIndex[no] = x.length
      }
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
      }
      x[slideIndex[no] - 1].style.display = "block";
    }
  </script>

  <!-- Imported Scripts-->
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
  <script src="../js/materialize.js"></script>
  <script src="../js/init.js"></script>
  <script>
    $("#droppable123").click(function () {
      if ($("#dropdownthis123").height() == 0) {
        $("#dropdownthis123").animate({
          height: '190px'
        }, 200);
        $("#dropdownthis123").css("visibility", "visible");
      } else if ($("#dropdownthis123").height() == 190) {
        $("#dropdownthis123").animate({
          height: '0px'
        }, 200);
        $("#dropdownthis123").css("visibility", "hidden");
      }
    });
  </script>
</body>

</html>